<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ski Racing Video Analysis - Superimposed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Ski Racing Video Analysis - Superimposed</h1>
    <div class="video-section">
        <div class="video-preview">
            <video controls>
                <source src="static/videos/superimposed_{{video_name}}.mp4" type="video/mp4">
            </video>
        </div>
        <div class="button-section">
            <div class="redirect-button">
                <form action="track_skier" method="POST">
                    <input type="hidden" name="video_name" value="{{video_name}}">
                    <label for="skier_number" class="input-label">skier_number</label><br>
                    <input type="number" name="skier_number" placeholder="0" required>
                    <br>
                    <label for="start_frame" class="input-label">start_frame</label><br>
                    <input type="number" name="start_frame" placeholder="0" required>
                    <br>
                    <button class="redirect" type="submit">Track Skier</button>
                </form>
            </div>
        </div>
    </div>
    </html>
</body>


<script>
    document.addEventListener('keydown', function(event) {
        if (event.altKey && event.key === 'Enter') {
            event.preventDefault();
            document.querySelector('form').submit();
        }
    });
</script>